[Unit]
Description=Instinctual ParyTime
After=graphical.target

[Service]
Type=oneshot
ExecStart=/opt/instinctual/partyTime/partyTime.sh --join

[Install]
WantedBy=graphical.target
