[Unit]
Description=Instinctual Partytime
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/opt/instinctual/partytime/partytime.sh --add

[Install]
WantedBy=multi-user.target
